* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}
header {
  width: 100%;
  height: 3rem;
  background-color: rgb(0, 94, 83);
  padding: 0 2rem;
  display: flex;
  align-items: center;
  .desktopResolutionNav {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    .headerLinkList {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      .headerLink {
        margin: 0 1rem;
        padding: 0;
        a,
        button {
          text-decoration: none;
          font: inherit;
          background: transparent;
          color: white;
          border: none;
          cursor: pointer;
        }
        a {
          &:hover,
          &:active,
          &.active {
            color: rgb(255, 255, 51);
          }
        }
        button {
          &:hover,
          &:active {
            color: rgb(255, 255, 51);
          }
        }
      }
    }
  }
}

.mobileRes {
  width: 30rem;
  height: 100vh;
  max-width: 80%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 100;
  padding: 2rem;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  &.open {
    transform: translateX(0);
  }
  .mobileLinkList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    .mobileLink {
      margin: 1rem;
      padding: 0;
    }
    a,
    button {
      font: inherit;
      text-decoration: none;
      color: black;
      font-size: 1.7rem;
      padding: 1rem;
      background: transparent;
      border: none;
      cursor: pointer;
    }
    a {
      &:hover,
      &:active,
      &.active {
        color: white;
        background-color: rgb(0, 94, 83);
      }
    }
    button {
      &:hover,
      &:active {
        color: white;
        background-color: rgb(0, 94, 83);
      }
    }
  }
}

#sideMenuToggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: rgb(248, 237, 215);
  cursor: pointer;
  &:focus {
    outline: none;
  }
  &:active,
  &:hover {
    color: rgb(255, 255, 51);
    border-color: rgb(255, 255, 51);
  }
}

.backdrop {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.btn {
  font: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 0.25rem 1rem;
  border: 1px solid rgb(0, 105, 82);
  border-radius: 3px;
  color: rgb(7, 93, 83);
  background: white;
  cursor: pointer;
}

.libraryBooks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  .card {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .libraryBook {
    .cardHeader {
      padding: 1rem;
      .bookTitle {
        margin: 0;
        width: 100%;
        text-align: center;
        color: white;
      }
    }
    .cardContent {
      padding: 1rem;
      .bookDescription {
      }
      .bookAuthor {
      }
    }
    .cardActions {
      padding: 1rem;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  header {
    .desktopResolutionNav {
      display: flex;
    }
  }

  #sideMenuToggle {
    display: none;
  }
}
