<nav>
    <ul>
      <li>
        <a href="/">Library</a>
      </li>
      <% if(isAuthenticated) { %>
      <li>
        <a href="/admin/add_book">Add Book</a>
      </li>
      <li>
        <a href="/admin/editor">Edit Book</a>
      </li>
      <% } %>
    </ul>
      <ul>
        <% if(!isAuthenticated) { %>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/signup">Signup</a>
        </li>
        <% } else { %>
        <li>
          <form action="/logout" method="POST">
            <button type="submit">Logout</button>
          </form>
        </li>
        <% } %>
      </ul>
    
  
</nav>

<nav class="mobile">
    <div>
      <ul>
        <li>
          <a href="">Library</a>
        </li>
        <li>
          <a href="">Add Book</a>
        </li>
        <li>
          <a href="">Edit Book</a>
        </li>
        <li>
          <a href="">Login</a>
        </li>
        <li>
          <a href="">Signup</a>
        </li>
        <li>
          <a href="">Logout</a>
        </li>
      </ul>  
  </nav>